@import url();

* 
{
    margin: 0;
    padding: 0;
};

/* Paleta de Cores */
:root {
    --color: #fd7e14 ;
}


:root {
    --color: #dc3545 ;
}


:root {
    --color: #ffc107 ;
}


:root {
    --color: #20c997 ;
}


body {
    background-color: black;
}
