@import url();

* 
{
    margin: 0;
    padding: 0;
};

/* Paleta de Cores */
:root {
    --negative: #dc3545 ;
    --atention: #fd7e14 ;
    --intermed: #ffc107 ;
    --positive: #20c997 ;
    --background: #434343 ;
}


body {
    background-color: var(--background);
}
