@import url();

* 
{
    margin: 0;
    padding: 0;
};

/* Paleta de Cores */
:root {
    --negative: #dc3545 ;
    --atention: #fd7e14 ;
    --intermed: #ffc107 ;
    --positive: #20c997 ;
    --page: #434343 ;
    --footer: #0d6efd ;
}


body {
    background-color: var(--page);
}

#header {
    
}

#footer {
    background-color: var(--footer);
    height: 200px;
    width: auto;
}

.footer {
    bottom: 0;
    position: fixed;
    width: 90%;
    text-align: center;
}